/* ****** Header ******* */

header {
  position: relative;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;           
  background-color: var(--background-header);   
  z-index: 999;
 
}

.logo {
  padding-left: 20px;
  cursor: pointer;
}

.menu-btn {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  
}

.menu-btn svg {
  fill: var(--text-color);
  width: 42px;
  height: 42px;
  padding-right: 10px;
  
}

nav {
  position: absolute;
  top: 70px;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: var(--background-header);   
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  padding-right: 10px;
  z-index: 999;
}

nav.is-active {
  opacity: 1;
  pointer-events: auto;
}

.lista-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: bold;

}
.lista-menu li {
cursor: pointer;  
}
.selected{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  background-color: var(--background-header)
  gap: 10px;
}
.selected li  {
  padding: 10px;
  display: inline-block;
}
.selected li:hover {
  cursor: pointer;
  transform: scale(1.2);

}

.redes-sociales-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
 
}

@media screen and (width >= 1024px) {
  .logo {
    width: 20%;  
  }
  .menu-btn{
    display: none;
  }

  nav {
    position: relative;  
    top: 0px;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    pointer-events: visible;
    opacity: 1;
  }
  .lista-menu {
    display: flex;
    flex-direction: row;
  }
  .lista-menu li {
    font-size: 1.2rem;
    padding: 0px 20px;
  }

  .lista-menu li a:hover {
    color: blueviolet;
  
   
  }
  .submenu {
    background-color: var(--background-header);
    padding: 0 10px;

  }
  .selected{
    position: absolute;
    top: 70px;
    margin: 0px;
    padding: 0px;
  
  }
  .selected li  {
    padding: 5px 20px;
  }
  
 
  .redes-sociales-menu{
    display: none;
  }

  .redes-sociales {
    width: 20%;
    display: flex; 
    justify-content: flex-end;
    padding-right: 18px;             
    
  }
  
  .redes-sociales img {
    width: 32px; 
    margin-left: 25px; 
    transition: transform 0.1s ease-in-out;
  }
  
  .redes-sociales img:hover {
    transform: scale(1.2);
  }

}









