@media screen and (width <= 600px) {
 
  .inactive {
    display: block;
  }
  .active {
    display: none;
  }
}


@media screen and (width <= 720px) {
  nav a {
   font-size: .8rem;
  }
}

@media screen and (width >= 1200px) {
  nav a {
    font-size: 1.5rem;
   }
}
