imagenes_ignore/.DS_Store
imagenes_ignore/Geyser_Tatio.jpeg
imagenes_ignore/image0 (1).png
imagenes_ignore/image0.png
imagenes_ignore/image1.png
imagenes_ignore/MoonValleyHD.jpg
imagenes_ignore/Noche_Atacama.jpeg
imagenes_ignore/Piedras_Rojas_1.jpeg
imagenes_ignore/Piedras_Rojas_2.jpeg